.navbar {
    background-color: #050505;
    overflow: hidden;
  }
  
  .user_authentication {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    padding: 0 10px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-links a:hover {
    background-color: #fff;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: 24%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card h2 {
    padding: 10px;
    margin: 0;
    background-color: #333;
    color: #fff;
  }
  
  .card p {
    padding: 10px;
    margin: 0;
    text-align: center;
  }
  
  .card a {
    display: block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  
  .card a:hover {
    background-color: #555;
  }

  .card h2:hover{
    text-decoration: underline;
    text-decoration-color:yellow ;

  }